.moldura_texto{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 40px;
    -webkit-text-fill-color: #ffffff;
    -webkit-text-stroke-color: blueviolet;
    -webkit-text-stroke-width: 4px;

}

#box{
    width: 500px;
    height: 400px;
    border: 1px solid;
    background-color: #7b609e;
    border-radius: 6px;
    box-shadow: 10px 10px 20px #9c65a7;
}

.sombra_texto{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-shadow: 5px 5px 4px rgb(194, 156, 229);

}
.coluna{
    font-family: Verdana, ;
    font-weight: bold;
    font-size: 10px;
    -webkit-column-count: 3;/* numero de coluna*/
    -webkit-column-gap:1em;/* espaçamento de coluna*/
    -webkit-column-rule: 1px solid #debcff;/* numero de coluna*/
}

#box2{
    width: 600px;
    height: 500px;
    border: 10px solid;
    background-image: url(../imagens/fundo.jpeg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

#trasparentes{
    width: 400px;
    height: 300px;
    padding: 20px;
    background-color: rgba(154, 36, 250, 0.301);
    border-radius: 6px;
}

#gradiente{
    width: 400px;
    height: 200px;
    background-image: linear-gradient(to left, #003af7, #ffffff);
    margin: 20px;
}

#gradiente1{
    width: 400px;
    height: 200px;
    background: -webkit-gradient( linear ,left top,right top, from(#d6d6d6),to(#7b609e));
    margin: 20px;
}

#gradiente2{
    width: 400px;
    height: 200px;
    background: -webkit-gradient( linear ,left top,left bottom, from(#d6d6d6),to(#7b609e));
    margin: 20px;
}

#gradiente3{
    width: 400px;
    height: 200px;
    background: -webkit-gradient( linear ,left top,right bottom, from(#ffffff),to(#6ef500));
    margin: 20px;
}

#gradiente4{
    width: 400px;
    height: 200px;
    background: -webkit-gradient( radial, 50% 50%, 30, 50% 50%, 90, from(#ffffff),to(#6f00ff));
    margin: 20px;
}

@-webkit-keyframes pulsar{

    from {
        opacity: 0.0;
        font-size: 100%;
    }

    to {
        opacity: 1.0;
        font-size: 200%;
    }
}
@-webkit-keyframes pulsar {

    from {
        opacity: 0.0;
        font-size: 100%;
    }

    to {
        opacity: 1.0;
        font-size: 200%;
    }
}




#animacao{ 
    -webkit-animation-name:pulsar ;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
    font-family: Tahoma;
    font-weight: bold;
    font-size: 13px;
    color: #6f00ff;
    text-align: center;
}

section div{
    width: 300px;
    height: 300px;
    float: left;
    border: solid 1px #000;
}

section div img{
    width: 80%;
    border: solid 1px #000;
    padding: 10px;}

#foto img{
    -webkit-transform: rotate(0deg);
    transition:2s all;
}

#foto img:hover{
    -webkit-transform: rotate(50deg);
    transition:2s all;
}

#foto1 img{
    -webkit-transform: rotatex(50deg);
    transition:2s all;
}

#foto1 img:hover{
    -webkit-transform: rotatex(0deg);
    transition:2s all;
}

#foto2 img{
    transition-duration: 0.5s;
    
}

#foto2 img:hover{
    -webkit-transform: rotatey(180deg);
    transition:all 0.5s ease-out;
}





#foto3 img{
    transition-duration: 0.5s;
    
}

#foto3 img:hover{
    -webkit-transform: translate(100px, 50px );
    transition:all 2s;
}



#foto4 img{
    transition-duration: 0.5s;
    
}

#foto4 img:hover{
    -webkit-transform: translatex(200px );
    transition:all 2s;
}



#foto5 img{
    transition-duration: 0.3s;
    
}

#foto5 img:hover{
    -webkit-transform: translate(100px, 50px  ) rotate(180deg);
    transition:all 2s;
}

#foto6 img{
    transition-duration: 2s;
    
}

#foto6 img:hover{
    -webkit-transform: scale(0.5);
    transition:all 2s;
}

#foto7 img{
    transition-duration: 2s;
    
}

#foto7 img:hover{
    -webkit-transform: scale(1.5);
    transition:all 2s;
}

#foto8 img{
    transition-duration: 0.3s;
    
}

#foto8 img:hover{
    -webkit-transform: scale(1.8)  translate(20px, 50px) rotate(360deg);
    transition:all 0.3s;
}

#muda_fundo{
    background-image: url(../imagens/gato.jpg);
    background-size: cover;
     transition-duration: 2s;
     height: 250px;
}

    #muda_fundo:hover{
        background-image: url(../imagens/meme.png);
        background-size: cover;
        transition: 2s all;
    }








