#fundo{
    background-color: rgba(250, 235, 215, 0.397);
    position: relative;
    text-align: center;
    width: 80%;
    height: 600px;
    margin: auto;
}



#camada1{
    position: relative;
    height: 180px;
    width: 150px;
    border: 5px solid rgb(245, 55, 22);
    background-color: antiquewhite;
    text-align: center;
    float: left;
}
#camada2{
    position: relative;
    height: 180px;
    width: 150px;
    border: 5px solid rgb(245, 79, 79);
    background-color: rgb(247, 160, 47);
    text-align: center;
    float: left;
}
#camada3{
    position: relative;
    height: 180px;
    width: 150px;
    border: 5px solid rgb(241, 160, 160);
    background-color: rgb(114, 66, 2);
    text-align: center;
    clear: left;
}