#tp{
    position:relative ;
    background-color:#CC3922 ;
    border: 10px solid #00000000 ;
    box-sizing:border-box ;
    width: 1000px;
    height: 100px;
    top:10px;
    left: 50px;
}
h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#fd{
background-color: antiquewhite;
position: relative;
top: 10px;
left: 50px;
width: 1000px ;
height: 450px ;

}
 #camada1{
    position:relative ;
    background-color:#F52301 ;
    float: left;
    top:0px;
    left:80px;
    width: 700px;
    height: 450px;   
 }

 #camada2{
    background-color: #F55501;
    position:relative ;
    float: left;
    top:0px;
    left:90px;
    width: 200px;
    height: 130px;
 }



 #camada3{
    background-color: #F55252;
    position:relative ;
    float: left;
    top:5px;
    left:90px;
    width: 200px;
    height: 130px;

 }
 #img{
    background-color: #f5119a00;
    position: absolute ;
    top:300px;
    left:700px;
 }
 img{
    width: 150px;
    height: 100px;
 }

 #rodape{
    background-color: #F5119A;
    position:relative ;
    clear: left;
    width: 1000px;
    height: 50px;  
 }


