#camada1{
    position: absolute;
        width: 250px;
        height: 200px;
        background-color: indianred;
        border: 3px;
        border-style: solid;
        border-color: crimson;
        top: 100px;
        left: 50px;
        z-index: 1;
 }
 #camada2{
    position: absolute;
    width: 250px;
    height: 200px;
    background-color: lightcoral;
    border: 3px double black;
    top: 250px;
    left: 30px;
    z-index: 2;

 }

 #camada3{
    position: absolute;
    width: 250px;
    height: 200px;
    background-color: #b13a1c;
    border: 3px double black;
    top: 350px;
    left: 10px;
    z-index: 3;

 }

 #camada4{
    position: absolute;
    width: 150px;
    height: 100px;
    top: 380px;
    left: 150px;
    z-index: 4;  
 }

 img{
    width: 150px;
    height: 100px;
 }